.registration-container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../Logo/background.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 16px;
  box-sizing: border-box;
}

.form-box {
  width: 100%;
  max-width: 420px;
  background-color: #1b1b1b;
  border-radius: 16px;
  padding: 32px 24px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-section-authorization {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}

.logo {
  width: 40px;
  height: 40px;
}

.title-autorization {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 24px;
}

.input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #1e1e1e;
  color: white;
  outline: none;
  margin-bottom: 12px; 
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 12px; 
}

.input:focus {
  outline: none;
  box-shadow: none;
}

.options-row {
  display: flex;
  align-items: center;
  width: 90%;
  font-size: 12px;
  margin-bottom: 16px;
  gap: 10px;
}

.remember{
  display: flex;
  margin-left: auto;
}

.password-container {
  width: 98%;
  box-sizing: border-box;
  position: relative;
}

.input::placeholder {
  color: #aaa;
}

.submit-button {
  width: 90%;
  height: 48px;
  background-color: #00ffff;
  color: #000000;
  font-weight: 600;
  border: none;
  border-radius: 18px;
  margin-bottom: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.submit-button:hover {
  background-color: #00cccc;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
  color: #999;
}

.social-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.google-btn,
.microsoft-btn,
.apple-btn {
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: #111111;
  height: 48px;
  border-radius: 18px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  padding-left: 48px; 
}

.google-btn img,
.microsoft-btn img,
.apple-btn img {
  position: absolute;
  left: 16px;
  height: 20px;
  width: 20px;
}

.login-link {
  margin-top: 20px;
  font-size: 14px;
  color: #aaa;
}

.login-link a {
  color: #00ffff;
  text-decoration: none;
  margin-left: 6px;
}

.login-link a:hover {
  text-decoration: underline;
}
