.BoardBody{
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-image: url('../Logo/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  flex-direction: column;
  overflow: hidden;
}

.board-color{
  cursor: pointer;
}

.board-main-content{
  display: flex;
  flex: 1;
  overflow: hidden;
}

.board-right-content{
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  padding: 16px;
}

.board-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  /* scrollbar-width: thin;
  scrollbar-color: #14b8a6 transparent; */
  padding: 1px 16px 16px 16px;
  margin-left: 300px;
  gap: 24px;
  align-items: flex-start;
  box-sizing: border-box;
}

.board-content::-webkit-scrollbar {
  height: 8px;
}

.board-content::-webkit-scrollbar-thumb {
  background: #14b8a6;
  border-radius: 4px;
}

.board-content::-webkit-scrollbar-track {
  background: transparent;
}



.board-header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding: 0 16px;
}

.board-header{
  display: flex;
  flex-direction: row;
  padding: 16px;
  margin-left: 300px;
  margin-top: 10px;
  gap: 16px;
  align-items: center;
}

.name-board-header{
  color: #30CFCF;
  font-size: 28px;
}

.btn-tmp-header{
  width: 66px;
  height: 24px;
  border-radius: 4px;
  padding: 2px 4px 2px 4px;
  font-size: 12px;
  color: gray;
}

.str-header-board{
  width: 16px;
  height: 16px;
}

.planet-header-board{
  width: 16px;
  height: 16px;
}

.btn-board-header{
  background-color: #30CFCF;
  color: #000;
  width: 75px;
  height: 32px;
  border-radius: 8px;
  padding: 3px 16px 5px 16px;
  gap: 16px;
}

.board-header-left{
  flex: 0 0 auto;
}

.tochka-btn{
  background-color: transparent;
  border: transparent;
}

.board-column {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid #14b8a6;
  border-radius: 32px;
  padding: 0px 16px 16px 16px;
  width: 256px;
  max-width: 256px;
  min-height: 120px;
  height: fit-content;
}

.board-cards {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 12px;
  height: auto;
}

.board-card {
  background-color: #2C333A;
  padding: 12px;
  border-radius: 8px;
  cursor: grab;
  user-select: none;
  transition: transform 0.1s ease;
  align-items: center;

  min-height: 40px;
  max-height: 224px;

  font-size: 13px;
  color: grey;
  text-align: left;
}

.board-card:active {
  transform: scale(1.05);
}

.board-background{
  background-color: #2378AA;
  border-radius: 16px 16px 0px 0px ;
}

.board-object{
  display: flex;
  min-height: 32px;
  align-items: center;
  justify-content: space-between;
}

.btn-setting-board-card{
  background-color: transparent;
  font-size: 28px;
  border: transparent;
  margin-bottom: 20px;
}

.board-folder{
  width: 21px;
  height: 21px;
}

.addbtn-card-collum{
  background-color: transparent;
  color: darkgray;
  text-align: left;
  align-items: center;
  margin-top: 10px;
}

.addbtn-card-collum:hover{
  border-color: transparent;
  background-color: rgb(44, 44, 44);
}