.left-sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-self: flex-start;
  border-top: 1px solid #14b8a6;
  border-right: 1px solid #14b8a6;
  border-bottom: 1px solid #14b8a6;
  border-left: none;
  border-radius: 0px 32px 32px 0px;
  padding: 20px;
  margin-top: 20px;
  left: 0;
  overflow: hidden;
  background-color: #F6F6F60D;
  box-shadow: 0 0 24px rgba(20, 184, 166, 0.2);
  position: fixed;
  width: 256px;
}

.workspace-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 20px 10px 10px;
  flex-shrink: 0;
}

.avatar {
  width: 40px;
  height: 40px;
  background-color: orange;
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 18px;
}

.nav-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  border-radius: 8px;
  transition: background 0.2s ease;
  font-size: 15px;
  cursor: pointer;
}

.recent-boards-section {
  margin-top: 30px;
  margin-bottom: 30px;
}

.plus-icon-for-modalwin{
  border: none;
  background-color: transparent;
  color: #888;
  cursor: pointer;
  padding: 4px; 
  font-size: 25px;
}

.plus-icon-for-modalwin:hover{
  border-color: transparent;
}

.star-icon {
  font-size: 16px;
  color: #ffd700;
}

.workspace-avatar-image-left-bar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.workspace-avatar-image-left-bar.hidden {
  display: none;
}

.workspace-initials.hidden {
  display: none;
}

.board-item-btn-left-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.board-item-btn-left-bar:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.star-icon-left-bar img {
  width: 18px;
  height: 18px;
}

.board-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.board-left-navbar-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.star-icon-left-bar{
  margin-top: 5px;
}